<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Paytm Wallet</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <!-- <ion-grid style="background:#8eda4a;">
        <ion-icon name="arrow-back" style="font-size: 2.8em;color: white;margin: 5px 0px 0px 15px;" (click)="goBack()"></ion-icon>
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 60px;margin-left: 37%;margin-bottom: 20px;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>
        <h5 style="margin: 0%;color: white;font-weight: 300;padding-top: 44%;text-align: center;font-size: 1.8rem;padding-bottom: 10px;">Paytm Wallet</h5>
    </ion-grid> -->
    <ion-grid>
        <p style="text-align: center">Available balance
            <span style="margin-left: 2%;">{{paytmAmount}}</span>
        </p>
        <ion-row style="margin: 8px 30px 0px 30px;" *ngIf="!hidePaybutton">
            <ion-col col-8 no-padding>
                <ion-item style="padding: 0">
                    <ion-label color="primary" floating>Activate Vehicle Price</ion-label>
                    <ion-input type="text" disabled="true" [(ngModel)]="amounttobepaid">
                        <i class="fa fa-rupee"></i>
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-4 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                <button ion-button color="gpsc" style="width: 90px;color:white;" (click)="releaseAMT()">Pay</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row style="padding: 0px 36px 14px 32px;">
        <ion-col col-8 no-padding style="text-align: center;color: #867e7e;margin-top: 15px;">
            <ion-item style="padding: 0">
                <ion-label color="primary" floating>Phone Number</ion-label>
                <ion-input type="number" disabled="true" [(ngModel)]="paytmregNum">
                    <i class="fa fa-rupee"></i>
                </ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-4 no-padding style="text-align: right;margin-top: 12%;color: gray;">
            <button ion-button color="gpsc" style="width: 90px;color:white;" (click)="changeNum()">Change</button>
        </ion-col>
    </ion-row>
    <div>
        <ion-row style="padding: 0px 23px;">
            <ion-col col-8>
                <ion-item style="padding-left: 3px;">
                    <!-- <ion-label color="primary" fixed>Fixed Label</ion-label> -->
                    <ion-input type="tel" [(ngModel)]="enteredAmt" placeholder="Enter Amount"></ion-input>
                </ion-item>
            </ion-col>
            <!-- <ion-col col-4>
        <a>Have a promocode?</a>
      </ion-col> -->
        </ion-row>
        <ion-row style="padding:10px;">
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(100)" style="color: #000;background-color: #f4f4f4;border-radius:0px;">
                    +
                    <i class="fa fa-rupee"></i> 100 </button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(200)" style="margin-left:5px;color: #000;background-color: #f4f4f4;border-radius:0px;">
                    +
                    <i class="fa fa-rupee"></i> 200 </button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(500)" style="margin-left:5px;color: #000;background-color: #f4f4f4;border-radius:0px;">+
                    <i class="fa fa-rupee"></i> 500 </button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>

<ion-footer>
    <button ion-button full color="gpsc" style="margin: 0%;height:50px;font-size: 14px;border-radius: 6px;" (click)="addMoney()">Add Money</button>
</ion-footer>