<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Me</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/dummy-user-img.png">
      </ion-avatar>
      <h2>{{islogin.fn}}&nbsp;{{islogin.ln}}</h2>
      <p>Account:{{islogin.account}}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <!-- <ion-item (tap)="service()" *ngIf="!isDealer"> -->
    <ion-item (tap)="service()">
      <ion-icon name="person" item-start></ion-icon>
      Service Provider
    </ion-item>
    <ion-item (tap)="password()">
      <ion-icon name="lock" item-start></ion-icon>
      Password
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item>
      <ion-icon name="cog" item-start></ion-icon>
      Settings
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group (tap)="logout()">
    <ion-item ion-text text-center>
      Logout
    </ion-item>
  </ion-item-group>
</ion-content>
<ion-footer padding-bottom padding-top>
  <div style="text-align: center;">Version {{aVer}}</div>
  <!-- <div id="photo" style="text-align: center">
    <span style="vertical-align:middle">Powered by </span>&nbsp;
    <a href="http://www.oneqlik.in/telematics/">
      <img style="vertical-align:middle" src="assets/imgs/sign.jpg" width="55" height="19">
    </a>
  </div> -->
</ion-footer>