<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      Customer Support Contacts
    </ion-card-header>
    <ion-card-content>
      <a href="tel:+91-9028045389">
        <ion-icon ios="ios-call" md="md-call" style="color:#33cd5f;" (click)="dialSupportNumber()"></ion-icon>
        <span>+91 9028045389</span>
      </a>
      <br/>
      <a href="mailto:poonam.g@processfactory.in">
        <ion-icon ios="ios-mail" md="md-mail" style="color:red;" (click)="dialSupportNumber()"></ion-icon>
        <span>poonam.g@processfactory.in</span>
      </a>
    </ion-card-content>
  </ion-card>

</ion-content>