<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>About Us</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card class="card">
        <img src="assets/imgs/1.jpg" />
        <div class="card-title">Digicon Technologies</div>
        <div class="card-subtitle">trackdigi</div>
    </ion-card>

    <ion-card padding-bottom>
        <!-- <ion-card-content padding-bottom>
            <div style="width: 10%;float: left; text-align: center; margin-top: 0%;">
                <ion-icon name="pin" color="gpsc" style="font-size: 30px;"></ion-icon>
            </div>
            <div style="font-size: 16px; width: 90%;float: right; padding-left: 15px; text-align: left">
                <p>404,purple pride square,kalewadi phata Kalewadi, Pune, Maharashtra 411057.</p>
            </div>
        </ion-card-content>
        <br/> -->
        <ion-card-content>
            <div style="width: 10%;float: left; text-align: center; margin-top: 0%;">
                <ion-icon name="globe" color="primary" style="font-size: 28px;"></ion-icon>
            </div>
            <div style="font-size: 16px; width: 90%;float: right; padding-left: 15px; text-align: left; margin-top: 2%;">
                <p>
                    <a href="http://digiconsecure.com" style="color:  rgb(63,81,181);">http://digiconsecure.com</a>
                </p>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header style="background: rgb(42, 50, 165); color: white;">
            For business co-operation
        </ion-card-header>
        <ion-card-content padding-top>
            <span style="color:#f1bd13;font-size: 16px;">M Anshuman</span>
            <br/>
            <ion-icon ios="ios-call" md="md-call" style="font-size: 16px;color:#33cd5f;" (click)="dialSupportNumber()"></ion-icon>
            &nbsp;&nbsp;
            <a href="tel:+91-9534561100">
                <span ion-text style="font-size: 16px">+91 9534561100</span>
            </a>
            <br/>

            <ion-icon ios="ios-mail" md="md-mail" style="font-size: 16px;color:red;"></ion-icon>
            &nbsp;&nbsp;
            <a href="mailto:sales@digiconsecure.com">
                <span ion-text style="font-size: 16px;">sales@digiconsecure.com</span>
            </a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header style="background: brown; color: white;">
            Customer support contacts
        </ion-card-header>
        <ion-card-content padding-top>

            <ion-icon ios="ios-call" md="md-call" style="color:#33cd5f;" (click)="dialSupportNumber()"></ion-icon>
            &nbsp;&nbsp;
            <a href="tel:+91-9430420078">
                <span ion-text style="font-size: 16px;">+91 9430420078</span>
            </a>
            <br/>

            <ion-icon ios="ios-mail" md="md-mail" style="color:red;" (click)="dialSupportNumber()"></ion-icon>&nbsp;&nbsp;
            <a href="mailto:sales@digiconsecure.com">
                <span ion-text style="font-size: 16px;">sales@digiconsecure.com</span>
            </a>
        </ion-card-content>
    </ion-card>

</ion-content>